<h1 style='text-align:center'>Pandas</h1>
<h3 style='text-align:center'>Data Frames</h3>
<h2>Read the Dataset</h2>
<ul>
    <li>Import pandas as pd.</li>
    <li>Read the library_books.csv file into a pandas DataFrame.</li>
    <li>Display the first five rows of the DataFrame.</li>
</ul>

In [ ]:
#for google colab
!gdown 11PYFrVwhzzJ0cIbdbZYVP2Cr6h-fQedw

In [73]:
import pandas as pd
df = pd.read_csv('/content/library_books.csv',parse_dates=['Publication Year'])
df.head(5)

,Book ID,Title,Author,Genre,Publication Year
0,1,The Great Gatsby,F. Scott Fitzgerald,Fiction,1925-01-01
1,2,Brave New World,Aldous Huxley,Science Fiction,1932-01-01
2,3,To Kill a Mockingbird,Harper Lee,Fiction,1960-01-01
3,4,1984,George Orwell,Dystopian,1949-01-01
4,5,Pride and Prejudice,Jane Austen,Romance,1813-01-01

<h2>Basic Data Exploration:</h2>
<ul>
    <li>Print the total number of books in the dataset.</li>
    <li>Display the unique genres available in the library's collection.</li>
</ul>

In [74]:
print('Total books:',df.shape[0])
df['Genre'].unique()

Total books: 9

array(['Fiction', 'Science Fiction', 'Dystopian', 'Romance', 'Fantasy',
       'Adventure'], dtype=object)

<h2>Filtering Data:</h2>
    <ul><li>Filter and display books that are classified as "Fiction".</li></ul>

In [75]:
df[df['Genre'] =='Fiction']

,Book ID,Title,Author,Genre,Publication Year
0,1,The Great Gatsby,F. Scott Fitzgerald,Fiction,1925-01-01
2,3,To Kill a Mockingbird,Harper Lee,Fiction,1960-01-01
6,7,The Catcher in the Rye,J.D. Salinger,Fiction,1951-01-01

<h2>Advanced Analysis:</h2>
<ul>
    <li>Find the oldest book in the collection.</li>
    <li>Count the number of books by genre.</li>
    <li>Bonus: Display the average publication year for each genre</li>
</ul>

In [76]:
index = df['Publication Year'].idxmin()
df.loc[index]

Book ID                               5
Title               Pride and Prejudice
Author                      Jane Austen
Genre                           Romance
Publication Year    1813-01-01 00:00:00
Name: 4, dtype: object

In [77]:
df['Genre'].value_counts()

Genre
Fiction            3
Science Fiction    2
Dystopian          1
Romance            1
Fantasy            1
Adventure          1
Name: count, dtype: int64

In [78]:
df.groupby('Genre')['Publication Year'].mean()

Genre
Adventure         1851-01-01 00:00:00
Dystopian         1949-01-01 00:00:00
Fantasy           1937-01-01 00:00:00
Fiction           1945-05-02 08:00:00
Romance           1813-01-01 00:00:00
Science Fiction   1942-07-02 12:00:00
Name: Publication Year, dtype: datetime64[ns]